<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>SmartCampus</title>
        <link rel="stylesheet" href="{{ asset('assets/css/formStyle.css') }}">
        <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}" />
    </head>
    <body>
    {% include 'partial/header.html.twig'%}

        <section>
            <div class="form">
                <div class="title">
                    <a href="/admin">
                        <img src="{{ asset('assets/img/back_arrow.svg') }}" alt="Retour">
                    </a>
                    <p>Ajouter un système d'acquisition</p>
                    <p>Systèmes acquisition déjà enregistrés</p>
                </div>
                <div class="formInputs">
                    {{ form_start(addSAForm) }}
                    <div class="sectionsOfWindow">
                        <div class="formAndFooter">
                            <div class="formRest">
                                {{ form_rest(addSAForm) }}
                            </div>
                            <div class="formFooter">
                                <p>* Obligatoire</p>
                                <div class="buttons">
                                    <button type="submit" class="endButton">Ajouter</button>
                                </div>
                            </div>
                        </div>
                        <section class = "line"></section>
                        {% if listeSa %}
                        <div class="listAll">
                            <ul>
                                {% for sa in listeSa %}
                                    <li>{{ sa.number }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                            <div class="listAll">
                                <p class="textCenter">
                                    Aucun S.A a été ajouté pour le moment.
                                </p>
                                <p class="textCenter">Commencez par en ajouter un.</p>
                            </div>
                        {% endif %}
                    </div>

                    {{ form_end(addSAForm) }}
                </div>
            </div>
        </section>

    {% include 'partial/footer.html.twig'%}

    </body>
</html>
