<!DOCTYPE html>
<html lang="fr">
<head>
    <title>SmartCampus</title>
    <link rel="stylesheet" href="{{ asset('assets/css/manageSA.css') }}">
    <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</head>
<body>
{% include 'partial/header.html.twig'%}


<section>
    <div class="dataTest">
        <div class="title">
            <a href="{{ path('app_admin') }}">
                <img src="{{ asset('assets/img/back_arrow.svg') }}" alt="Retour">
            </a>
            <p>Panneau de gestion du {{ room.acquisitionUnit }}</p>
        </div>
        <div class="signAU">
            <div class="signAUInformations">
                <p>Etat du système d'acquisition : {{ room.acquisitionUnit.state }}</p>
            </div>

            <div class="buttons">
                <a class="endButton deleteButton" href="{{ path('unassignAU', {'room' : room.id}) }}">Désaffecter le SA</a>
                <a class="endButton" href="{{ path('assignAU', {'room' : room.id}) }}">Gérer l'affectation du SA</a>
                {% if room.acquisitionUnit.state == "En attente d'installation" %}
                    <a class="endButton submit" href="{{ path("defAcquisitionUnitSupport", {'acquisitionUnit' : room.acquisitionUnit.id}) }}">Prendre en charge le SA</a>
                {% elseif room.acquisitionUnit.state == 'Pris en charge' %}
                    <a class="endButton submit"  href="{{ path('defAcquisitionUnitOperational', {'acquisitionUnit' : room.acquisitionUnit.id}) }}">Rendre le SA opérationnel</a>
                {% elseif room.acquisitionUnit.state == 'En panne' or room.acquisitionUnit.state == 'Dysfonctionnement' %}
                    <a class="endButton submit"  href="{{ path('defAcquisitionUnitOperational', {'acquisitionUnit' : room.acquisitionUnit.id}) }}">Réparer le SA</a>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="roomInfo">
        <div class="form">
            <div class="title">
                <p>Informations de la salle {{ room.name }}</p>
            </div>
            <div class="listInfoRoom">
                <ol>
                    <li>
                        Étage : {{
                        room.floor == 0 ? 'Rez-de-chaussée'
                        : room.floor == 1 ? '1er'
                        : room.floor ~ 'ème'
                        }}
                    </li>
                    <li>Capacité : {{ room.capacity }} personnes</li>
                    {% if (room.hasComputers) %}
                        <li>Ordinateur : oui</li>
                    {% else %}
                        <li>Ordinateur : non</li>
                    {% endif %}
                    <li>Surface : {{ room.area }} mètres carrés</li>
                    <li>Exposition : {{ room.exposure }}</li>
                    <li>Nombre de fenêtres : {{ room.nbWindows }}</li>
                </ol>
            </div>
        </div>
    </div>

</section>

{% include 'partial/footer.html.twig'%}
