<!-- Bootstrap 5.3.2 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <title>SmartCampus</title>
    <link rel="stylesheet" href="{{ asset('assets/css/formStyle.css') }}">
</head>
<body>
{% include 'partial/header.html.twig'%}

<section>
    <div class="form">
        <div class="title">
            <a href="{{ path('app_admin') }}">
                <img src="{{ asset('assets/img/back_arrow.svg') }}" alt="Retour">
            </a>
            <p>Supprimer un système d'acquisition</p>
        </div>
        <div class="formInputs">
            {{ form_start(removeAcquisitionUnitForm) }}
            <div class="sectionsOfWindow">
                <div class="formAndFooter">
                    <div class="restOfForm selector">
                        {{ form_rest(removeAcquisitionUnitForm) }}
                    </div>
                        {% for flashMessage in app.flashes('message') %}
                            <div class="flash-message">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                        {% for flashMessage in app.flashes('error') %}
                            <div class="flash-error">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    <div class="formFooter">
                        <p>* Obligatoire</p>
                        <div class="buttons">
                            <button type="button" class="endButton delete" data-bs-toggle="modal" data-bs-target="#removeAcquisitionUnitModal">
                                Supprimer
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="removeAcquisitionUnitModal" tabindex="-1" aria-labelledby="removeAcquisitionUnitModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-2" id="removeAcquisitionUnitModalLabel">Êtes-vous sûr ?</h1>
                                        </div>
                                        <div class="modal-body">
                                            Vous êtes sur le point de supprimer le SA sélectionné
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="endButton cancelButtonModal" data-bs-dismiss="modal">Annuler</button>
                                            <button type="submit" class="endButton delete">Confirmer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {{ form_end(removeAcquisitionUnitForm) }}
        </div>
    </div>
</div>
</section>

{% include 'partial/footer.html.twig'%}

</body>
</html>
