<!DOCTYPE html>
<html lang="fr">
<head>
    <title>SmartCampus</title>
    <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
    <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    {% include 'partial/header.html.twig'%}

    <section class='planExperimentation'>
        <div class="planExperimentation-div">
            <div class='planExperimentation-div-title'>
                <p class="planExperimentation-p-title">Plan d'expérimentation</p>
                {% if is_granted('ROLE_TECHNICIEN') %}
                <div class="add-or-del-div">
                    <a href="{{ path('addAU') }}" class="planExperimentation-div-button-add">Ajouter un système d'acquisition</a>
                    {% if acquisitionUnitList %}
                        <a href="{{ path('removeAU') }}" class="planExperimentation-div-button-add add-or-del-div ">Supprimer un S.A</a>
                    {% endif %}
                </div>
                {% endif %}

            </div>
            {% if roomList is empty %}
            <div class="noRoom">

                    <p class="noRoomText"> Aucune salle n'a été ajoutée pour le moment. Commencez par en ajouter une. </p>

            </div>

            {% else %}

            <div class='planExperimentation-div-array planExperimentation-div-array-columnName'>
                <div class="planExperimentation-div-div"><p>SALLES</p></div>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="planExperimentation-div-div"><p>NIVEAU DE CONFORT</p></div>
                {% elseif is_granted('ROLE_TECHNICIEN') %}
                <div class="planExperimentation-div-div"><p>SYSTEMES D'ACQUISITION</p></div>
                {% endif %}
                <div class="planExperimentation-div-div"><p>ETAT DE L'INSTALLATION</p></div>
                <div class="planExperimentation-div-div"><p>ETAT DE FONCTIONNEMENT</p></div>

            </div>

            <div class="planExperimentation-div-allRoom">
                {% for room in roomList %}

                    <div class='planExperimentation-div-array'>
                        <div class="planExperimentation-div-div planExperimentation-div-roomName">
                            <div class="planExperimentation-div-roomName-div">
                                <p>{{ room.name }}</p>
                            </div>

                        </div>
                        <!-- Niveau de confort (seulement référent) -->

                        {% if is_granted('ROLE_ADMIN')  %}

                            {% if roomsComfortIndicator[room.name]['temp'] == 'OK' and
                                roomsComfortIndicator[room.name]['hum'] == 'OK' and
                                roomsComfortIndicator[room.name]['co2'] == 'OK' %}
                                <div class='planExperimentation-div-div greenBackground'>
                                    <div class="planExperimentation-div-roomName-div">
                                        <p>Très bon confort</p>
                                    </div>
                                </div>
                            {% elseif roomsComfortIndicator[room.name]['temp'] == 'Aucune données' and
                                roomsComfortIndicator[room.name]['hum'] == 'Aucune données' and
                                roomsComfortIndicator[room.name]['co2'] == 'Aucune données' %}
                                <div class="planExperimentation-div-div greyBackground">
                                    <p>Aucune données</p>
                                </div>
                            {% elseif roomsComfortIndicator[room.name]['temp'] != 'OK' and
                                roomsComfortIndicator[room.name]['hum'] != 'OK' and
                                roomsComfortIndicator[room.name]['co2'] != 'OK' %}
                                <div class="planExperimentation-div-div redBackground">
                                    <p>Rien ne vas</p>
                                </div>
                            {% else %}
                                <div class="planExperimentation-div-div orangeBackground">
                                    <p>Certaines données sont mauvaises</p>
                                </div>
                            {% endif %}

                        {% else %}
                            <!-- SA -->
                            {% if room.acquisitionUnit is empty %}
                                <div class="planExperimentation-div-div">
                                    <p>-</p>
                                </div>
                            {% else %}
                                <div class="planExperimentation-div-div">
                                    <p>{{ room.acquisitionUnit }}</p>
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if room.acquisitionUnit and room.acquisitionUnit.state != "En attente d'installation"  %}
                            <!-- ETAT DE L'INSTALLATION DU SYSTEME D'ACQUISITION -->
                            <div class="planExperimentation-div-div">
                                <p>Installé</p>
                            </div>
                            <!-- ETAT DE FONCTIONNEMENT -->
                            <div class="planExperimentation-div-div">
                                <p>{{ room.acquisitionUnit.state }}</p>
                            </div>
                        {% elseif room.acquisitionUnit %}
                            <div class="planExperimentation-div-largeDiv">
                                <p>En attente d'installation</p>
                            </div>
                        {% else %}
                            <div class="planExperimentation-div-largeDiv">
                                <p>Aucun système d'acquisition installé</p>
                            </div>
                        {% endif %}
                        <!-- Button voir plus et rendre opérationnel -->
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('roomDetail', {'room' : room.id}) }}" class="planExperimentation-div-voir-plus">Voir plus</a>
                        {% else %}
                            {% if room.acquisitionUnit is not empty and (room.acquisitionUnit.state != "Opérationnel" and room.acquisitionUnit.state != "Dysfonctionnement")%}
                                <a href="{{ path('manageAcquisitionUnit', {'acquisitionUnit' :room.acquisitionUnit.id}) }}" class="planExperimentation-div-voir-plus">Définir le SA comme opérationnel</a>
                            {% endif %}
                        {% endif %}
                    </div>

                {% endfor %}
                {% endif %}

            </div>

            {% if is_granted('ROLE_ADMIN') %}
                <div class='planExperimentation-div-array'>
                    <a href="{{ path('addRoom') }}" class="planExperimentation-div-button-add addRoom">Ajouter une salle</a>
                </div>
            {% endif %}
        </div>
    </section>

    {% include 'partial/footer.html.twig' %}



    </body>
</html>