<!DOCTYPE html>
<html lang="fr">
<head>
    <title>SmartCampus</title>
    <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
    <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    {% include 'partial/header.html.twig'%}


    <section class='planExperimentation'>
        <div class="planExperimentation-div">
            <div class='planExperimentation-div-title'>
                <p class="planExperimentation-p-title">Plan d'expérimentation</p>
                {% if user == 'admin' %}
                <div class="add-or-del-div">
                    <a href="/addSA" class="planExperimentation-div-button-add">Ajouter un système d'acquisition</a>
                    <a href="/removeSA" class="planExperimentation-div-button-add add-or-del-div ">Supprimer un S.A</a>

                </div>
                {% endif %}

            </div>

            <div class='planExperimentation-div-array planExperimentation-div-array-columnName'>
                <div class="planExperimentation-div-div"><p>SALLES</p></div>
                <div class="planExperimentation-div-div"><p>SYSTEMES D'ACQUISITION</p></div>
            </div>
            {% if listRooms is empty %}
            <div class="noRoom">

                    <p> Aucune salle n'a été ajouté pour le moment </p>

            </div>

            {% else %}

            <div class="planExperimentation-div-allRoom">
                {% for room in listRooms %}

                    <div class='planExperimentation-div-array'>
                        <div class="planExperimentation-div-div planExperimentation-div-roomName">
                            <div class="planExperimentation-div-roomName-div">
                                <p>{{ room.name }}</p>
                            </div>

                        </div>

                        <!-- Gestion de l'état des SA" -->
                        {% if room.sa is empty %}
                            <div class="planExperimentation-div-div">
                                <p>-</p>
                            </div>
                        {% else %}
                            <div class="planExperimentation-div-div">
                                <p>{{ room.sa }}</p>
                                <div class="lilPastille">
                                    {% if room.sa.state == "En attente d'installation" %}
                                        <img src="{{ asset('assets/img/StateImages/ok.png') }}" title="Le système d'acquisition n'a pas encore été installé." class="grayCircle"/>
                                    {% elseif room.sa.state == "Operationnel"%}
                                        <img src="{{ asset('assets/img/StateImages/ok.png') }}" title="Le système d'acquisition fonctionne correctement." class="greenCircle"/>
                                    {% elseif room.sa.state == "Dysfonctionnement" %}
                                        <img src="{{ asset('assets/img/StateImages/notOk.png') }}" title="Le système d'acquisition est en panne." class="redCircle"/>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        {% if user == 'admin' %}
                            <a href="/detailRoom/{{ room.name }}" class="planExperimentation-div-voir-plus">Voir plus</a>
                        {% endif %}
                    </div>

                {% endfor %}
                {% endif %}

                {% if user == 'admin' %}
                    <div class='planExperimentation-div-array'>
                        <a href="/addRoom" class="planExperimentation-div-button-add addRoom">Ajouter une salle</a>
                    </div>
                {% endif %}

            </div>



        </div>
            </div>

    </section>

    {% include 'partial/footer.html.twig' %}



    </body>
</html>