<!DOCTYPE html>
<html lang="fr">
<head>
    <title>SmartCampus</title>
    <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
    <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    {% include 'partial/header.html.twig'%}

    <section class='planExperimentation'>
        <div class="planExperimentation-div">
            <div class='planExperimentation-div-title'>
                <p class="planExperimentation-p-title">Plan d'expérimentation</p>
                {% if user == 'admin' %}
                <div class="add-or-del-div">
                    <a href="{{ path('addSA') }}" class="planExperimentation-div-button-add">Ajouter un système d'acquisition</a>
                    {% if listSA %}
                        <a href="{{ path('removeSA') }}" class="planExperimentation-div-button-add add-or-del-div ">Supprimer un S.A</a>
                    {% endif %}
                </div>
                {% endif %}

            </div>
            {% if listRooms is empty %}
            <div class="noRoom">

                    <p class="noRoomText"> Aucune salle a été ajouté pour le moment. Commencez par en ajouter une. </p>

            </div>

            {% else %}

            <div class='planExperimentation-div-array planExperimentation-div-array-columnName'>
                <div class="planExperimentation-div-div"><p>SALLES</p></div>
                <div class="planExperimentation-div-div"><p>SYSTEMES D'ACQUISITION</p></div>
            </div>

            <div class="planExperimentation-div-allRoom">
                {% for room in listRooms %}

                    <div class='planExperimentation-div-array'>
                        <div class="planExperimentation-div-div planExperimentation-div-roomName">
                            <div class="planExperimentation-div-roomName-div">
                                <p>{{ room.name }}</p>
                            </div>

                        </div>

                        <!-- Gestion de l'état des SA" -->
                        {% if room.sa is empty %}
                            <div class="planExperimentation-div-div">
                                <p>-</p>
                            </div>
                        {% else %}
                            <div class="planExperimentation-div-div">
                                <p>{{ room.sa }}</p>
                                <div class="lilPastille">
                                    {% if room.sa.state == "En attente d'installation" and user == "admin" %}
                                        <img src="{{ asset('assets/img/StateImages/hourglass.png') }}" title="Le système d'acquisition n'a pas encore été installé." class="grayCircle"/>
                                    {% elseif room.sa.state == "En attente d'installation" and user == "technicien" %}
                                        <img src="{{ asset('assets/img/StateImages/waitingForInstallation.png') }}" title="Le système d'acquisition doit être installé." class="grayCircle"/>
                                    {% elseif room.sa.state == "Opérationnel"%}
                                        <img src="{{ asset('assets/img/StateImages/ok.png') }}" title="Le système d'acquisition fonctionne correctement." class="greenCircle"/>
                                    {% elseif room.sa.state == "Dysfonctionnement" %}
                                        <img src="{{ asset('assets/img/StateImages/notOk.png') }}" title="Le système d'acquisition est en panne." class="redCircle"/>
                                    {% elseif room.sa.state == "En panne" %}
                                        <img src="{{ asset('assets/img/StateImages/questionMark.png') }}" title="Les données remontées par le système d'acquisition sont aberrantes." class="redCircle"/>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        {% if user == 'admin' %}
                            <a href="{{ path('detailRoom', {'room' : room.id}) }}" class="planExperimentation-div-voir-plus">Voir plus</a>
                        {% else %}
                            {% if room.sa is not empty and (room.sa.state != "Opérationnel" and room.sa.state != "Dysfonctionnement")%}
                                <a href="{{ path('set_sa_to_op', {'SA' :room.sa.id}) }}" class="planExperimentation-div-voir-plus">Définir le SA comme opérationnel</a>
                            {% endif %}
                        {% endif %}
                    </div>

                {% endfor %}
                {% endif %}

                {% if user == 'admin' %}
                    <div class='planExperimentation-div-array'>
                        <a href="{{ path('addRoom') }}" class="planExperimentation-div-button-add addRoom">Ajouter une salle</a>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>

    {% include 'partial/footer.html.twig' %}



    </body>
</html>