<!DOCTYPE html>
<html lang="fr">
<head>
    <title>SmartCampus</title>
    <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
</head>
<body>
    {% include 'partial/header.html.twig'%}


    <section class='planExperimentation'>
        <div class="planExperimentation-div">
            <div class='planExperimentation-div-title'>
                <p class="planExperimentation-p-title">Plan d'expérimentation</p>
            </div>

            <div class='planExperimentation-div-array planExperimentation-div-array-columnName'>
                <div class="planExperimentation-div-div"><p>SALLES</p></div>
                <div class="planExperimentation-div-div"><p>SYSTEMES D'ACQUISITION</p></div>
                <div class="planExperimentation-div-div"><p>ETAT S.A</p></div>
            </div>
            {% if listRooms is empty %}
            <div class="noRoom">

                    <p> Aucune salle n'a été ajouté pour le moment </p>

            </div>



            {% else %}

            <div class="planExperimentation-div-allRoom">
                {% for room in listRooms %}


                    <div class='planExperimentation-div-array'>
                        <div class="planExperimentation-div-div"><p>{{ room.name }}</p></div>
                        <div class="planExperimentation-div-div"><p>N/A</p></div>
                        <div class="planExperimentation-div-div"><p> - </p></div>
                        <button class="planExperimentation-div-modifier button">Attribuer</button>
                    </div>

                {% endfor %}
            </div>
            {% endif %}
            <div class='planExperimentation-div-array'>
                <button class="planExperimentation-div-button-add button" onclick="togglePopup('/addRoom')">Ajouter une salle</button>
                <button class="planExperimentation-div-button-add button">Ajouter un S.A</button>
            </div>
        </div>
    </section>

    {% include 'partial/footer.html.twig'%}


    <script src="{{ asset('assets/js/admin.js') }}"></script>
    <script src="{{ asset('assets/js/quitPopup.js') }}"></script>
    <script src="{{ asset('assets/js/keyEventEscapeQuitPopup.js') }}"></script>

</body>
</html>



