<!DOCTYPE html>
<html lang="fr">

<head>
    <title>SmartCampus</title>
    <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
    <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
{% include 'partial/header.html.twig'%}
<section class='planExperimentation'>
    <div class="planExperimentation-div">
        <div class='planExperimentation-div-title'>
            <p class="planExperimentation-p-title">Plan d'expérimentation</p>
            {% if is_granted('ROLE_TECHNICIEN') %}
                <div class="add-or-del-div">
                    <a href="{{ path('addAU') }}" class="planExperimentation-div-button-add">Ajouter un système
                        d'acquisition</a>
                    {% if roomList %}
                        <a href="{{ path('removeAU') }}"
                           class="planExperimentation-div-button-add add-or-del-div ">Supprimer un S.A</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        {% if roomList is empty %}
            {% if not formSubmitted %}
                <div class="noRoom">
                    <p class="noRoomText">Aucune salle n'a été ajoutée pour le moment. Commencez par en ajouter une.</p>
                </div>
            {% elseif formSubmitted and filtersApplied %}
                <div class="noRoom">
                    <p class="noRoomText">Aucune salle ne correspond aux filtres sélectionnés.</p>
                </div>
            {% elseif formSubmitted and not filtersApplied %}
                <div class="noRoom">
                    <p class="noRoomText">Aucune salle n'a été ajoutée pour le moment. Commencez par en ajouter une.</p>
                </div>
            {% endif %}
        {% else %}
            <div class='planExperimentation-div-array planExperimentation-div-array-columnName'>
                <div class="planExperimentation-div-div">
                    SALLES
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="planExperimentation-div-div">
                        NIVEAU DE CONFORT
                    </div>
                {% elseif is_granted('ROLE_TECHNICIEN') %}
                    <div class="planExperimentation-div-div">
                        SYSTEMES D'ACQUISITION
                    </div>
                {% endif %}
                <div class="planExperimentation-div-div">
                    ETAT DE L'INSTALLATION
                </div>
                <div class="planExperimentation-div-div">
                    ETAT DE FONCTIONNEMENT
                </div>
            </div>
            <div class="planExperimentation-div-allRoom">
                {% for room in roomList %}
                    <div class='planExperimentation-div-array'>
                    <div class="planExperimentation-div-div planExperimentation-div-roomName">
                        <div class="planExperimentation-div-roomName-div">
                            <div class="infosRoomAndAU">{{ room.name }}</div>
                        </div>
                    </div>
                    <!-- Niveau de confort (seulement référent) -->
                    {% if is_granted('ROLE_ADMIN') %}

                        {% if room.acquisitionUnit %}
                            {% set tempComfort = roomsComfort[room.acquisitionUnit.name]['temp'] %}
                            {% set humComfort = roomsComfort[room.acquisitionUnit.name]['hum'] %}
                            {% set co2Comfort = roomsComfort[room.acquisitionUnit.name]['co2'] %}
                            {% if tempComfort == 'OK' and humComfort == 'OK' and co2Comfort == 'OK' %}
                                <div class="planExperimentation-div-div greenBackground cursorHelp" title="Temperature = {{ tempComfort }}&#013;Humidity = {{ humComfort }}&#013;Co2 = {{ co2Comfort }}">
                                    Confortable
                                </div>
                            {% elseif tempComfort != 'OK' and humComfort != 'OK' and co2Comfort != 'OK' %}
                                <div class="planExperimentation-div-div redBackground cursorHelp" title="Temperature = {{ tempComfort }}&#013;Humidity = {{ humComfort }}&#013;Co2 = {{ co2Comfort }}">>
                                    Inconfortable
                                </div>
                            {% elseif tempComfort == 'Aucune données' and humComfort == 'Aucune données' and co2Comfort == 'Aucune données' %}
                                <div class="planExperimentation-div-div grayBackground">Aucune donnée</div>
                            {% else %}
                                <div class="planExperimentation-div-div orangeBackground cursorHelp" title="Temperature = {{ tempComfort }}&#013;Humidity = {{ humComfort }}&#013;Co2 = {{ co2Comfort }}">
                                    Peu confortable
                                </div>
                            {% endif %}                        {% else %}
                            <div class='planExperimentation-div-div greyBackground'>
                                Aucune donnée
                            </div>
                        {% endif %}
                    {% else %}
                        <!-- SA -->
                        {% if room.acquisitionUnit is empty %}
                            <div class="planExperimentation-div-div">
                                -
                            </div>
                        {% else %}
                            <div class="planExperimentation-div-div">
                                {{ room.acquisitionUnit }}
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if room.acquisitionUnit and room.acquisitionUnit.state != "En attente d'installation" %}
                        <!-- ETAT DE L'INSTALLATION DU SYSTEME D'ACQUISITION -->
                        <div class="planExperimentation-div-div">
                            Installé
                        </div>
                        <!-- ETAT DE FONCTIONNEMENT -->
                        <div class="planExperimentation-div-div installationState"
                             title="En attente d'affectation : le technicien doit affecter un système d'acquisition à la salle

En attente d'affectation : le technicien doit installer le système d'acquisition affecté dans la salle

Dysfonctionnement : les données sont aberrantes

En panne : les données ne remontent pas

Opérationnel : tout va bien :)

Pris en charge : le système d'acquisition est en cours de réparation">
                            {{ room.acquisitionUnit.state }}
                        </div>
                    {% elseif room.acquisitionUnit %}
                        <div class="planExperimentation-div-div">
                            En attente d'installation
                        </div>
                        <div class="planExperimentation-div-div">
                             -
                        </div>
                    {% else %}
                        <div class="planExperimentation-div-div">
                            Aucun système d'acquisition attribué
                        </div>
                        <div class="planExperimentation-div-div">
                             -
                        </div>
                    {% endif %}
                    <!-- Boutton voir plus et rendre opérationnel -->
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('roomDetail', {'room' : room.id}) }}"
                           class="planExperimentation-div-voir-plus">Voir plus</a>
                    {% else %}
                        {% if room.acquisitionUnit %}
                            <a href="{{ path('manageAcquisitionUnit', {'acquisitionUnit' :room.acquisitionUnit.id}) }}"
                               class="planExperimentation-div-voir-plus">Gérer le SA</a>
                        {% else %}
                            <a href="{{ path('assignAU', {'room' :room.id}) }}"
                               class="planExperimentation-div-voir-plus">Affecter un SA</a>
                        {% endif %}
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class='planExperimentation-div-array'>
                <a href="{{ path('addRoom') }}" class="planExperimentation-div-button-add addRoom">Ajouter une salle</a>
            </div>
        {% endif %}
    </div>
    {% include 'components/search_data.html.twig' %}

</section>
{% include 'partial/footer.html.twig' %}
</body>

</html>