<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>SmartCampus - Ajouter une salle</title>
        <link rel="stylesheet" href="{{ asset('assets/css/formStyle.css') }}">
        <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}" />
    </head>
    <body>
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% endblock %}

        {% include 'partial/header.html.twig'%}

        <section>
            <div class="form">
                <div class="title">
                    <p>
                        Ajouter une salle
                    </p>
                </div>
                <div class="formInputs">
                    {{ form_start(addRoomForm) }}
                    <div class="formRest">
                        {{ form_rest(addRoomForm) }}
                    </div>
                    <div class="formFooter">
                        <p>* Obligatoire</p>
                        <div class="buttons">
                            <a type="submit" href="/admin" class="btn btn-danger" data-mdb-ripple-init>Retour</a>
                            <button type="submit" class="btn btn-info" data-mdb-ripple-init>Ajouter</button>
                        </div>
                    </div>
                    {{ form_end(addRoomForm) }}
                </div>
            </div>
        </section>

        {% include 'partial/footer.html.twig'%}
    </body>
</html>
