<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <title>SmartCampus</title>
    <link rel="stylesheet" href="{{ asset('assets/css/detailRoom.css') }}">
    <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}" />
</head>
<body>
{% include 'partial/header.html.twig'%}


<section>
    <div class="form">
        <div class="title">
            <a class="backArrow" href="/admin">
                <img src="{{ asset('assets/img/back_arrow.svg') }}" alt="Retour">
            </a>
            <p>Salle {{ room.name }}</p>
            <p>Systèmes d'acquisition</p>
        </div>
        <div class="formInputs">
            <div class="sectionsOfWindow">
                <div class="formAndFooter">
                    <div class="formRest">
                        <p class="detailTitle">Détail de la salle {{ room.name }}</p>
                        <p>Étage : {{
                            room.floor == 0 ? 'Rez-de-chaussée'
                            : room.floor == 1 ? '1er'
                            : room.floor ~ 'ème'
                            }}</p>
                        <p>Capacité maximum : {{ room.capacity }} personne{{ room.capacity > 1 ? 's' : ''}}</p>
                        <p>Cette salle contient des ordinateurs : {{ room.hasComputers ? 'Oui' : 'Non' }}</p>
                        <p>Superficie : {{ room.area }} m²</p>
                        <p>Exposition : {{ room.exposure }}</p>
                        <p>Cette salle contient {{ room.nbWindows }} fenêtre{{ room.nbWindows > 1 ? 's' }}</p>
                    </div>

                    {% if temp[0] == -1 and humidity[0] == -1 and co2[0] == -1 %}
                        <div>
                            <p>Aucune mesure n'a été faite dans cette salle</p>
                        </div>
                    {% else %}
                        <div>
                            <ul class="data">
                                <li>Dernière mesure : {{ temp[1] }} </li>
                                {% if temp[0] < 0 %}
                                    <li>Une erreur est survenue avec le capteur de température</li>
                                {% else %}
                                    <li>Dernière mesure de température : {{ temp[0] }}C° </li>
                                {% endif %}

                                {% if humidity[0] < 0 %}
                                    <li>Une erreur est survenue avec le capteur d'humidité</li>
                                {% else %}
                                    <li>Humidité actuelle de la salle {{ humidity[0] }}%</li>
                                {% endif %}

                                {% if co2[0] < 0 %}
                                    <li>Une erreur est survenue avec le capteur de CO2</li>
                                {% else %}
                                    <li>Taux de CO2 dans la <salle></salle> : {{ co2[0]  }}PPM</li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}


                    <div class="formFooter">
                        <div class="buttons">
                            <a href="/editRoom/{{ room.name }}" type="submit" class="endButton">Modifier salle</a>
                            <a href="/deleteRoom/{{ room.name }}" class="endButton delete">Supprimer</a>
                        </div>
                    </div>
                </div>
                <section class = "line"></section>
                <div class="sectionsOfWindow">
                    <div class="formAndFooter">
                        <div class="formRest">
                            {% if room.sa %}
                                <p class="detailTitle">Détail du S.A affecté</p>

                                <p>Numéro du S.A : {{ room.sa }}</p>
                                <p>Etat du S.A : {{ room.sa.state }}</p>
                            {% elseif hasSAAvailable %}
                                <p class="detailTitle">AUCUN S.A AFFECTÉ</p>
                                <p class="detailTitle">Vous pouvez affecter un S.A</p>
                            {% elseif not hasSAInDatabase %}
                                <p class="detailTitle">AUCUN S.A N'A ÉTÉ AJOUTÉ POUR LE MOMENT</p>
                                <p class="detailTitle">Commencez par ajouter un S.A</p>
                            {% else %}
                                <p class="detailTitle">AUCUN S.A N'EST ACTUELLEMENT DISPONIBLE</p>
                                <p class="detailTitle">Commencez par ajouter un S.A</p>
                            {% endif %}


                        </div>
                        <div class="formFooter">
                            <div class="buttons {{ room.sa ? '' : 'button'}}">
                                {% if room.sa %}
                                    <a href="/assignSA/{{ room.name }}" class="endButton">Gérer l'affectation</a>
                                    <a href="/unAssignSA/{{ room.name }}" class="endButton delete">Désaffecter</a>
                                {% elseif hasSAAvailable %}
                                    <a href="/assignSA/{{ room.name }}" class="endButton">Affecter un S.A</a>
                                {% else %}
                                    <a href="/addSA" class="endButton">Ajouter un S.A</a>

                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% include 'partial/footer.html.twig'%}

</body>
</html>
