<!DOCTYPE html>
<html lang="fr">
<head>
    <title>SmartCampus</title>
    <link rel="stylesheet" href="{{ asset('assets/css/formStyle.css') }}">
    <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}" />
</head>

    <body>

        {% include 'partial/header.html.twig'%}

        <section>
            <div class="form">
                <div class="title">
                <a href="{{ path('roomDetail', {'room': room.id}) }}">
                        <img src="{{ asset('assets/img/back_arrow.svg') }}" alt="Retour">
                    </a>
                    <p>
                        Modification de la salle {{ room.name }}
                    </p>
                </div>

                <div class="formInputs">
                    {{ form_start(addRoomForm) }}
                    <div class="restOfForm">
                        {{ form_rest(addRoomForm) }}
                    </div>
                    <div class="formFooter">
                        <p>* Obligatoire</p>
                        <div class="buttons">
                            <div class="buttons">
                                <button type="submit" class="endButton">Modifier</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(addRoomForm) }}
                </div>
            </div>
        </section>

        {% include 'partial/footer.html.twig'%}

    </body>
</html>