<!DOCTYPE html>
<html lang="fr">
<head>
    <title>SmartCampus</title>
    <link rel="stylesheet" href="{{ asset('assets/css/viewData.css') }}">
    <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}" />
</head>

<body>

{% include 'partial/header.html.twig'%}

<section>
    <div class="dataVisualisationSection">
        <div class="dataVisualisationTitle">
            Données de la salle {{ room.name }}
        </div>
        <div class="dataVisualisation">
            <div class="dataVisualisationTitles">
                <div class="dataTypeTitle">
                    Type de donnée
                </div>
                <div class="dataValueTitle">
                    Données retournées
                </div>
            </div>
            <div class="returnedData">
                <div>
                    <p>Température</p>
                    <div class="temperature">
                        {{ temp[0] }}
                    </div>
                </div>
                <div>
                    <p>Humidité</p>
                    <div class="humidity">
                        {{ humidity[0] }}
                    </div>
                </div>
                <div>
                    <p>Dioxyde de carbone</p>
                    <div class="co2">
                        {{ co2[0] }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'partial/footer.html.twig'%}