<!DOCTYPE html>
<html lang="fr">
<head>
    <title>SmartCampus</title>
    <link rel="stylesheet" href="{{ asset('assets/css/viewData.css') }}">
    <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}" />

</head>

    <body>

        {% include 'partial/header.html.twig'%}

        {% set currentDate = 'now'|date('d-m') %}
        {% set currentDateSplit = currentDate|split('-') %}

        {% set summerEndingDate = '31-08' %}
        {% set summerEndingDateSplit = summerEndingDate|split('-') %}

        {% set autumnEndingDate = '30-11' %}
        {% set autumnEndingDateSplit = autumnEndingDate|split('-') %}

        {% set winterEndingDate = '28-02' %}
        {% set winterEndingDateSplit = winterEndingDate|split('-') %}

        {% set springEndingDate = '31-05' %}
        {% set springEndingDateSplit = springEndingDate|split('-') %}

        <section>
            <div class="dataVisualisation">
                <div class='planExperimentation-div-title'>
                    <a class="backArrow" href="{{ path('app_client') }}">
                        <img src="{{ asset('assets/img/back_arrow.svg') }}" alt="Retour">
                    </a>
                    <p>
                        Données récupérées pour la salle {{ room.name }}
                    </p>
                </div>
                {% if temp[0] > -1 or humidity[0] > -1 or co2[0] > -1 %}
                    <div class="panelOfData">
                        <div class="displayData">
                            <div>
                                <div class="dataType">Température</div>
                                {% if temp[0] == -1 %}
                                    <div class="dataError">
                                        ERREUR
                                    </div>
                                {% else %}
                                    <div class="data">
                                        {{ temp[0] }} °C
                                    </div>
                                {% endif %}
                                <div class="dataComfort tempComfort">
                                    {% if (currentDate > springEndingDate and currentDate <= summerEndingDate ) %}

                                        {% if (temp[0] == -1) %}
                                            Aucune donnée remontée
                                            <style>
                                                .tempComfort {
                                                    background-color: #F4F4F4;
                                                }
                                            </style>
                                        {% elseif (temp[0] > 28 or temp[0] < 17) %}
                                            Inconfortable
                                            <style>
                                                .tempComfort {
                                                    background-color: #f6ae2b;
                                                }
                                            </style>
                                        {% else %}
                                            Confortable
                                            <style>
                                                .tempComfort {
                                                    background-color: #78f378;
                                                }
                                            </style>
                                        {% endif %}

                                    {% else %}
                                        {% if (temp[0] == -1) %}
                                            Aucune donnée remontée
                                            <style>
                                                .tempComfort {
                                                    background-color: #F4F4F4;
                                                }
                                            </style>
                                        {% elseif (temp[0] > 21 or temp[0] < 17) %}
                                            Inconfortable
                                            <style>
                                                .tempComfort {
                                                    background-color: #f6ae2b;
                                                }
                                            </style>
                                        {% else %}
                                            Confortable
                                            <style>
                                                .tempComfort {
                                                    background-color: #78f378;
                                                    }
                                            </style>
                                        {% endif %}

                                    {% endif %}

                                </div>
                            </div>
                            <div>
                                <div class="dataType">Humidité</div>
                                {% if humidity[0] == -1 %}
                                    <div class="dataError">
                                        ERREUR
                                    </div>
                                {% else %}
                                    <div class="data">
                                        {{ humidity[0] }} %
                                    </div>
                                {% endif %}
                                <div class="dataComfort humComfort">
                                    {% if (humidity[0] > 70 and temp[0] < 20) %}
                                        Inconfortable
                                        <style>
                                            .humComfort {
                                                background-color: #f6ae2b;
                                            }
                                        </style>
                                    {% elseif (humidity[0] == -1) %}
                                        Aucune donnée remontée
                                        <style>
                                            .humComfort {
                                                background-color: #F4F4F4;
                                            }
                                        </style>
                                    {% else %}
                                        Confortable
                                        <style>
                                            .humComfort {
                                                    background-color: #78f378;
                                                }
                                        </style>
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <div class="dataType">CO2</div>
                                {% if co2[0] == -1 %}
                                    <div class="dataError">
                                        ERREUR
                                    </div>
                                {% else %}
                                    <div class="data">
                                        {{ co2[0] }} PPM
                                    </div>
                                {% endif %}
                                <div class="dataComfort co2Comfort">
                                    {% if (co2[0] >= 400 and co2[0] < 1000) %}
                                        Confortable
                                        <style>
                                            .co2Comfort {
                                                background-color: #78f378;
                                            }
                                        </style>
                                    {% elseif (co2[0] == -1) %}
                                        Aucune donnée remontée
                                        <style>
                                            .co2Comfort {
                                                background-color: #F4F4F4;
                                            }
                                        </style>
                                    {% elseif (co2[0] >= 1000 or co2[0] < 1500) %}
                                        Inquiétant
                                        <style>
                                            .co2Comfort {
                                                background-color: #f6ae2b;
                                            }
                                        </style>
                                    {% else %}
                                        Dangereux
                                        <style>
                                            .co2Comfort {
                                                background-color: #dd3a27;
                                            }
                                        </style>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                <a class="graphButton" href="{{ path('view_graph', {'room': room.id}) }}">Voir le graphique de la température</a>
                {% else %}
                <div class="panelOfData">
                    <div class="noDataMsg">Aucune donnée dans cette salle n'a été récupérée pour le moment</div>
                </div>
                {% endif %}
            </div>
</section>
        {% include 'partial/footer.html.twig'%}

    </body>
</html>
