
<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">


<footer class="footer">
    <div class="LRUnivLink">
        <a href="https://www.univ-larochelle.fr/">
            La Rochelle Université
        </a>
    </div>
    {% if app.user %}
    <div class="info-container">
        Connecté en tant que {{ app.user.username }}
        <a href="{{ path('app_logout') }}">
            <img src="{{ asset('assets/img/logout.svg') }}" alt="logout">
        </a>
    </div>
    {% else %}
    <div class="info-container">
        <a href="{{ path('app_login') }}"> Accès administrateur </a>
    </div>
    {% endif %}
</footer>
