<link rel="stylesheet" href="{{ asset('assets/css/popUpAddRoomForm.css') }}">
<script src="{{ asset('assets/js/popUpAddRoomForm.js') }}"></script>

<section id="popup" hidden>
    <div class="popUpAddRoom">
            <button class='cancelButton' onclick='quitPopup()'>+</button>
        <div class="addRoom">
            <div class="title">
                <p>
                    Ajouter une salle
                </p>
            </div>
            <div class="formRoom">
                {{ form_start(addRoomForm) }}
                <div id="add_room_form">
                    {{ form_rest(addRoomForm) }}
                </div>
                <div class="divSubmitButton">
                    <button type="submit" class="submitButtonFormRoom">Envoyer</button>
                    <p>* Obligatoire</p>
                </div>
                {{ form_end(addRoomForm) }}
            </div>
        </div>
    </div>
</section>
