<link rel="stylesheet" href="{{ asset('assets/css/popUpAddSAForm.css') }}">

<div class="popUpAddSA">
    <button class='cancelButton' onclick='quitPopup()'>+</button>
    <div class="addSA">
        <div class="title">
            <p>
                Ajouter un système d'acquisition
            </p>
        </div>
        <div class="formSA">
            {{ form_start(addSAForm) }}
            <div id="add_sa_form">
                {{ form_rest(addSAForm) }}
            </div>
            <div class="divSubmitButton">
                <p>* Obligatoire</p>
                <button type="submit" class="submitButtonFormSA">Envoyer</button>

            </div>
            {{ form_end(addSAForm) }}
        </div>
        <div class="listeAllSA">
            <p>Systèmes acquisition déjà enregistrés</p>
            <ul>
                {% for sa in listeSa %}
                    <li>{{ sa.number }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


